@{
    ViewData["Title"] = "Home Page";
}




<div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">

                <div class="card shadow-0 border border-dark border-5 text-dark" style="border-radius: 10px;">
                    <div class="card-body p-4">

                        <div class="row text-center">
                            <div class="col-md-12 text-center border-5 border-dark py-4"
                                 style="margin-top: -1.5rem; margin-bottom: -1.5rem;">
                                <div class="d-flex justify-content-around mt-3">
                                    <p class="small"><div id="country"></div></p>
                                    <p class="small" id="todaysDate"></p>
                                    <p class="small">Weather Map</p>
                                </div>
                                <div class="d-flex justify-content-around align-items-center py-5 my-4">
                                    <p class="fw-bold mb-0" style="font-size: 7rem;" id="todayTemp"></p>
                                    <div class="text-start">
                                        <p class="small" id="currentTime"></p>
                                        <p class="h3 mb-3" id="currentDayOfTheWeek"></p>
                                        <p class="small mb-0" id="weatherStatus"></p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around align-items-center mb-3">
                                    <div class="flex-column">
                                        <i class="fas fa-minus"></i>
                                    </div>
                                    <div class="flex-column border" style="border-radius: 10px; padding: .75rem">
                                        <p class="small mb-1" id="day1"></p>
                                        <p class="small mb-0" id="day1Temp"><strong></strong></p>
                                    </div>
                                    <div class="flex-column">
                                        <p class="small mb-1" id="nextDay2"></p>
                                        <p class="small mb-0" id="nextDay2Temp"><strong></strong></p>
                                    </div>
                                    <div class="flex-column">
                                        <p class="small mb-1" id="nextDay3"></p>
                                        <p class="small mb-0" id="nextDay3Temp"><strong></strong></p>
                                    </div>
                                    <div class="flex-column">
                                        <p class="small mb-1" id="nextDay4"></p>
                                        <p class="small mb-0" id="nextDay4Temp"><strong></strong></p>
                                    </div>
                                    <div class="flex-column">
                                        <i class="fas fa-minus"></i>
                                    </div>
                                </div>
                            </div>                            
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        getLocation();
    });
</script>


